html, body {
	height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#problem,
#solutionOne {
    flex: 1;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    cursor: pointer;
    user-select: none;
}

#problem {
    background-color: #DB3832;
}

#solutionOne {
    background-color: #54913C;
}

footer {
    color: #ffffff;
    background-color: #605E4C;
    padding: 5px;
    text-align: right;
}
.social-link, .social-link:hover, .social-link:visited {
    color: #5cbeff;
}