html, body {
	height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

#problem,
#solutionOne {
    flex: 1;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#problem {
    background-color: #DB3832;
}

#solutionOne {
    background-color: #54913C;
}
